aiofiles
dnspython
fastapi
passlib[bcrypt]
pydantic[email]
pyjwt
python-dotenv
python-multipart
pytypes
motor
uvicorn
sendgrid

# Testing
async-asgi-testclient
async-exit-stack
async-generator
pytest
pytest-asyncio
requests
